<h1>Pirate</h1>
<p><%= @pirate.name %></p>
<p><%= @pirate.weight %></p>
<p><%= @pirate.height %></p>

<h2>First Ship</h2>
<p><%= @ships[0].name %></p>
<p><%= @ships[0].type %></p>
<p><%= @ships[0].booty %></p>

<h2>Second Ship</h2>
<p><%= @ships[1].name %></p>
<p><%= @ships[1].type %></p>
<p><%= @ships[1].booty %></p>
